sentence-transformers>=2.2.0
scikit-learn>=1.0.0
numpy>=1.21.0
dockerfile-parse
PyYAML
docker
checkov
pytest
pytest-cov
torch>=2.0.0
mypy
types-PyYAML
types-dockerfile-parse
caseutil
dotenv
accelerate>=0.26.0